# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
NovSpringBoot.iml
logs/
src/main/source/me/dragon/model/dto/
src/main/source/me/dragon/model/vo/
src/main/source/me/dragon/service/
target/Project-1.0-SNAPSHOT.war
target/Project-1.0-SNAPSHOT.war.original
target/Project-1.0-SNAPSHOT/
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/test-classes/
/target/
/.idea/
