<component name="ArtifactManager">
  <artifact type="war" name="SpringbootFrame:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Dragon's Project-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringbootFrame:war exploded" />
    </root>
  </artifact>
</component>